*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
}
.container{
    // width: 1400px;
    max-width: 100%;
    padding: 20px 40px;
    margin: 0 auto;
}

.users-container{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
}
.user-card{
    max-width: calc((100% - 40px) / 3);
    min-width: 200px;
    width: 100%;
   background-color: rgb(54, 151, 138);
   text-align: center;
   color: #fff;
   padding: 15px 0px;
   border-radius: 16px;
   position: relative;
}
.card-img{
    display: inline-block;
    width: 100px;
    // height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 12px;
}
.user-info{
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: center;
}
.user-name{
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}
.user-email{
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}
.user-phone{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}
.add-btn{
    display: block;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    padding: 10px 50px;
    background-color: rgb(1, 109, 1);
    color: #fff;
    border-radius: 16px;
    text-decoration: none;
    margin-left: auto;
    width: 200px;
    text-align: center;
}
header{
background-color: rgba(12, 150, 104, 0.6);
padding: 20px;
border-radius: 12px;
margin-top: 20px;
}
.title{
    text-align: center;
}
.user-section{
    width: 100%;
    margin-top: 50px;
}
.modals{
    width: 200px !important;
    margin-left: auto;
}
.e-modals{
    width: 200px !important;
}
.btn-wrap{
    position: absolute;
    right: 0;
    top: 0;
}